NodeRedFlow
[{"id":"3565a09c.b09c98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2c0058b3.225468","type":"function","z":"3565a09c.b09c98","name":"Skriver melding med dato","func":"var date;\ndate = new Date();\ndate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\n\nmsg = {\n payload: \"Alarm ble registert: \" + Date().toString(),\n topic: \"Alarm har gått!\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":140,"wires":[["c372dbfb.59709"]]},{"id":"c372dbfb.59709","type":"join","z":"3565a09c.b09c98","name":"Samler varsler som kommer pr. 30 sek","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"30","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":200,"wires":[["6fbd2380.a0958c"]]},{"id":"6fbd2380.a0958c","type":"join","z":"3565a09c.b09c98","name":"Kompilerer melding","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":200,"wires":[["813e5a01.3a8b68","61599ec7.2b1c18"]]},{"id":"813e5a01.3a8b68","type":"e-mail","z":"3565a09c.b09c98","server":"smtp.office365.com","port":"465","secure":false,"name":"paladinost@hotmail.com","dname":"Sender e-mail","x":740,"y":260,"wires":[]},{"id":"af6b2455.4a57c8","type":"rpi-gpio in","z":"3565a09c.b09c98","name":"Leser av alarmstatus på GPIO 22","pin":"22","intype":"down","debounce":"25","read":false,"x":350,"y":140,"wires":[["2c0058b3.225468"]]},{"id":"61599ec7.2b1c18","type":"debug","z":"3565a09c.b09c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":340,"wires":[]}]
